// Fonts
@import url('https://fonts.googleapis.com/css?family=Nunito');
@import '~@mdi/font/scss/materialdesignicons';

// Variables
@import 'variables';

// Bootstrap
@import '~bootstrap/scss/bootstrap';

@import '~pretty-checkbox/src/pretty-checkbox.scss';

.navbar-laravel {
    background-color: #fff;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.04);
}