.fab {
    width: 70px;
    height: 70px;
    background-color: orange;
    border-radius: 50%;
    box-shadow: 0 6px 10px 0 #666;
    transition: all 0.1s ease-in-out;

    color: white;
    text-align: center;
    line-height: 70px;

    position: fixed;
    right: 50px;
    bottom: 50px;
}

.fab:hover {
    box-shadow: 0 6px 14px 0 #666;
    transform: scale(1.05);
    cursor: pointer;
}


.dashboard {
    padding-left: 300px;
}

.dashboard-open {
    padding-left: 103px;
}

.right{
    display: flex;
    justify-content: flex-end;
    margin-bottom: 10px
}

.filter{
    background: none;
}

.filter-label {
    margin-top:.5rem;
    margin-right:10px;
}

.ah-button {
    margin-left: 50px;
}

.product-image {
    width: 100px;
}

.product-header {
    margin-left: -20px;
}

.product-card {
    width: 16rem;
    margin-left:20px;
}

.scroll{
  max-height: 200px;
  overflow-y: auto;
}

.ahmodal {
    background: #fbfbfb;
    border-radius: 0.15em;
    box-shadow: 0 2px 3px rgba(0, 0, 0, 0.1);
    float: left;
    font-size: 16px;
    left: 50%;
    margin: 0 auto;
    padding: 24px 32px;
    position: absolute;
    text-align: center;
    top: 400px;
    -webkit-transform: translateY(-50%) translateX(-50%);
    transform: translateY(-50%) translateX(-50%);
    width: 400px;
    z-index: 3000;
    display: none;
}

@media (max-width: 1024px) {
    .dashboard {
        padding-left: 0px;
    }

    .ah-button {
        margin-left: 20px;
    }

    .card {
        width: auto !important;
    }

    .product-image {
        width: 80%;
        margin-left: 20px;
        margin-bottom: 10px;
    }

    .product-header {
        margin-left: 0px;
    }

    .product-card {
        margin-right: 20px;
    }

}
